<%= form_for @user, url: signin_path, html: { class: "signin-form" } do |f| %>
  <% f.object.errors.full_messages.each do |error| %>
    <div class="errors">
      <%= error %>
    </div>
  <% end %>
  <div>
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true %>
  </div>
  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.submit "Login" %>
    <a id="about-link" href="/about">about</a>
    <%= link_to "Blah", "/about", class:"test_class" %>
    <%= link_to "ID", "/about", id:'test_id' %>

  </div>

<% end %>
